.div-posts{
    margin: 65px 0 65px 0;
    font-size: 14px;
}

.div-posts h1{
    font-size:30px;
    background-color:black;
    line-height: 45px;
    text-decoration: none;
    color: white;
    padding: 5px 5px 5px 5px;
    width: 500px;
    letter-spacing: 9px;
    /* background-color: darkgray; */
    /* opacity: initial; */
/*    position: absolute;
    background-color: rgba(154, 154, 154, 0.5);*/

}

.div-posts h1 a{
    color:white;
}

img{
    margin-bottom:35px;
    width:500px;
}


.div-posts p{
    text-align:justify;
    margin-top: 30px;
}



